<%- include("../shared/header") %>
<%- include("../shared/navbar", {user}) %>
<main class="main flex-row">
    <div class="main-content"></div>
    <div class="main-content flex-column" id="mainContent">
        <span class="su-desc error"><%=messages.info %></span>
        <%- include("../components/profilePage", {dataObject, paginator, languages}) %>
    </div>
    <div class="main-content"></div>
</main>
<%- include("../shared/footer") %>